<section class="tailwind-block">
  <div>
    <h1>Tailwind Block</h1>
  </div>
</section>

{% schema %}
{
  "name": "Tailwind Block",
  "blocks": [
    {
        "type": "@theme"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Tailwind Block"
    }
  ]
}
{% endschema %}